html{
    scroll-behavior: smooth;
}
/*header*/
body{
    margin: 0;
    padding: 20px;
    background:radial-gradient(circle at center, #0a192f 0%, #020c1b 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.portfolio-card{
    background: #09111e;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 24px;
    width: 100%;
    height: auto;
    max-width: 1200px;
    min-height: 650px;
    overflow: hidden;
    box-shadow: 0 20px 50px rgba(0, 212, 255, 0.15);
}
header{
    background-color: #09111e;
    padding: 20px 0;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    display: flex;
    gap: 35px;
}

.nav-links a {
    color: white;
    font-size: 16px;
    transition: .3s;
}
.logo{
    color: white;
    font-size: 28px;
    font-weight: 700;
}
.nav-links a:hover{
    color:#0a192f
}
.hero{
    background:#071824;
    display:flex;
    align-items:center;
    padding:70px 8%;
}

.hero-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:50px;
    width:100%;
}

.hero-content{
    flex:1;
    max-width: 550px;
}

.main-heading{
    font-size:48px;
    color:white;
    line-height: 1.2;
    transition: .3s;
}

.main-heading:hover{
    color: #00bfff;
    text-shadow: 0 0 20px #00bfff;
}

.hero-content h3{
    font-size:28px;
    color:#02c1fb;
    margin-bottom:20px;
    
}

.typing{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #00bfff;
    width: 0;
    animation: typing 3s steps(19) forwards,
               blink .8s infinite;
}

@keyframes typing{
    from{
        width:0;
    }

    to{
        width: 19ch;
    }
}

@keyframes blink{
    50%{
        border-color:transparent;
    }
}


.hero-content p{
    color:#cfcfcf;
    font-size:17px;
    line-height:1.8;
    max-width:520px;
    margin-bottom:30px;
}

.hero-buttons{
    display:flex;
    gap:20px;
}

.btn{
    background:#02c1fb;
    color:white;
    text-decoration:none;
    padding:12px 30px;
    border-radius:6px;
    font-weight:bold;
    transition: all .3s ease;
}

.btn:hover{
    background:#00a4d6;
    transform: translateY(-8px);
    box-shadow: 0 0 25px #00bfff;
}

.btn-outline{
    color:#02c1fb;
    text-decoration:none;
    padding:12px 30px;
    border:2px solid #02c1fb;
    border-radius:6px;
    font-weight:bold;
    transition: all .3s ease;
}

.btn-outline:hover{
    background:#02c1fb;
    color: #09111e;
    transform: translateY(-8px);
    background: #00bfff;
    box-shadow: 0 0 25px #00bfff;
}

.hero-image{
    flex:1;
    display:flex;
    justify-content:center;
    align-items: center;
    position: relative;
}

.glow{
    position: absolute;
    width: 420px;
    height: 420px;
    background: #00bfff;
    border-radius: 50%;
    filter: blur(90px);
    opacity: .7;
    z-index: 1;
}

.hero-image img{
    max-width:380px;
    height: auto;
    width: 100%;
    position: relative;
    z-index: 2;
    filter: drop-shadow(0 0 20px rgba(0,191,225,.5));
}

.social-icons{
    display:flex;
    gap:20px;
    align-items: center;
    justify-content:center;
    width: 100%;
}

.social-icons a{

    width:50px;
    height:50px;

    display:flex;
    justify-content: center;
    align-items:center;

    border:2px solid #00bfff;

    border-radius:50%;

    color:#00bfff;

    font-size:22px;

    text-decoration:none;

    transition:.4s ease;

}

.social-icons a:hover{

    background:#00bfff;

    color:#08131d;

    transform:translateY(-8px);

    box-shadow:0 0 25px #00bfff;

}

.about{
    padding: 100px 8%;
}
.about-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
   
}

.about-image img{
    flex: 1;
    width: 220px;
    height: auto;
    border-radius: 20px;
    border: 3px solid #00bfff;
    box-shadow: 0 0 30px rgba(0, 191, 255, 0.4);
}
.about-content{
    flex: 1;
}
.about-container h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
.about-content p{
    line-height: 1.8;
    color: #bfc9d4;
    margin-bottom: 30px;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 30px 0;
}

.skills span{
    padding: 10px 20px;
    background: rgba(0, 191, 255, 0.1);
    border: 1px solid #00bfff;
    border-radius: 30px;
    color: #00bfff;
    font-weight: 600;
    transition: all 0.3s ease;
}

.skills span:hover{
    background: #00bfff;
    color: #fff;
    transform: translateY(-5px);
}

.services{
    padding: 100px 8%;
    text-align: center;
}

.services-container{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.service-card{
    flex: 1;
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 20px;
    padding: 40px 30px;
    transition: all 0.4s ease;
}

.service-card i{
    font-size: 45px;
    color: #00bfff;
    margin-bottom: 20px;
}

.service-card h3{
    margin-bottom: 15px;
}

.service-card:hover{
    transform: translateY(-12px);
    border-color: #00bfff;
    box-shadow: 0 15px 35px rgba(0,191,255,0.3);
}

.projects{
    padding: 100px 8%;
    text-align: center;
}

.projects-container{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.project-card{
    flex: 1;
    overflow: hidden;
    border-radius: 20px;
    background: rgba(255,255,255,0.05);
    transition: 0.4s ease;
}

.project-card img{
    width: 100%;
   height: 250px;
   object-fit: cover;
   object-position: top;
    transition: 0.4s ease;
}

.project-info{
    padding: 25px;
}

.project-card:hover{
    transform: translateY(-10px);
}

.project-card:hover img{
    transform: scale(1.08);
}

.contact{
    padding:100px 8%;
    text-align:center;
}

.contact-text{
    max-width:600px;
    margin:20px auto 40px;
    color:#bfc9d4;
}

.contact-form{
    max-width:700px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.contact-form input,
.contact-form textarea{
    padding:18px;
    border:none;
    border-radius:12px;
    background:#121d2c;
    color:white;
    font-size:16px;
    outline:none;
}

.contact-form textarea{
    min-height:180px;
    resize:none;
}

.contact-form input:focus,
.contact-form textarea:focus{
    border:2px solid #00bfff;
    box-shadow:0 0 15px rgba(0,191,255,.4);
}

.footer{
    padding: 50px 8%;
    text-align: center;
    background: #0b1220;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.footer h2{
    color: #00bfff;
    margin-bottom: 15px;
}

.footer p{
    color: #bfc9d4;
}

.footer-links{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.footer-links a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.footer-links a:hover{
    color: #00bfff;
}
.copyright{
    margin-top: 20px;
    font-size: 14px;
    color: #8a94a6;
}

.hidden{
    opacity: 0;
    transform: translateY(60px);
    transition: all 1s ease;
}
.show{
    opacity: 1;
    transform: translateY(0);
}

.hero-content{
    animation: fadeUp 1s ease-out ;
}

@keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(40px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-image img{
    animation: float 4s ease-in-out infinite;
}

@keyframes float{
    0%{
        transform: translateY(-30px);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-30px);
    }
}

@media (max-width: 768px){
    .nav-links{
        gap: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap:nowrap;
    }

    .navbar{
        flex-direction: column;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .nav-links a{
        font-size: 12px;
    }

    .hero-container{
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }

    .hero-content{
        order: 2;
    }

    .hero-image{
        order: 1;
    }

    .hero-buttons{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .hero-image img{
        width: 280px;
    }

    .glow{
        width: 280px;
        height: 280px;
    }

    .main-heading{
        font-size: 2rem;
    }

    h3{
        font-size: 1.2rem;
    }

    p{
        font-size: 1rem;
    }
    .skills{
        justify-content: center;
        gap: 15px;
    }
    .skills span{
        font-size: 14px;
        padding: 10px 18px;
    }
    
    .about-container{
        flex-direction: column;
        text-align: center;
    }
    .about-image img{
        width: 280px;
    }
    .services-container{
        flex-direction: column;
    }
    .projects-container{
        display: flex;
        flex-wrap: wrap;
        gap: 30px; 
    }
    .project-card{
        flex: 1 1 300px;
        max-width: 350;
    }
    .contact-form{
        width: 100%;
    }
    .footer-links{
        flex-direction: column;
        gap: 15px;
    }
    .social-icons{
        gap: 15px;

    }
    .about-container{
        flex-direction: column;
        text-align: center;
    }
    .about-image img{
        width: 180px;
    }
    .skills{
        justify-content: center;
    }
}

